<%= form_with(model: [ @job, @job.applications.build]) do |form| %>


  <div class="field">
    <%= form.label :ime %>
    <%= form.text_field :ime %>
  </div>

  <div class="field">
    <%= form.label :prezime %>
    <%= form.text_field :prezime %>
  </div>

  <div class="field">
    <%= form.label :datum_rođenja %>
    <%= form.date_select :datum_rođenja %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :broj_telefona %>
    <%= form.text_field :broj_telefona %>
  </div>

  <div class="field">
    <%= form.label :adresa_boravišta %>
    <%= form.text_field :adresa_boravišta %>
  </div>

  <div class="field">
    <%= form.label :stručna_sprema %>
    <%= form.text_field :stručna_sprema %>
  </div>

  <div class="field">
    <%= form.label :job_id %>
    <%= form.text_field :job_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
