<%= form_with(model: [ @job, @job.applications.build], local: true) do |form| %>
  <% if application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
        <% application.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ime %>
    <%= form.text_field :ime %>
  </div>

  <div class="field">
    <%= form.label :prezime %>
    <%= form.text_field :prezime %>
  </div>

  <div class="field">
    <%= form.label :datum_rođenja %>
    <%= form.date_select :datum_rođenja, start_year: Date.today.year - 80, end_year: Date.today.year %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :broj_telefona %>
    <%= form.text_field :broj_telefona %>
  </div>

  <div class="field">
    <%= form.label :adresa_boravišta %>
    <%= form.text_field :adresa_boravišta %>
  </div>

  <div class="field">
    <%= form.label :stručna_sprema %>
    <%= form.select :stručna_sprema, [['SSS', 'SSS'],['VSS', 'VŠS'], ['VŠS', 'VŠS']] %>
  </div>

  <div style="display:none;" class="field">
    <%= form.label :job_id %>
    <%= form.text_field :job_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
