<p id="notice"><%= notice %></p>

<h1>Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Naziv oglasa</th>
      <th>Opis oglasa</th>
      <th>Email poslodavca</th>
      <th>Kategorija oglasa</th>
      <th>Istek oglasa</th>
      <th>Istekao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.naziv_oglasa %></td>
        <td><%= job.opis_oglasa %></td>
        <td><%= job.email_poslodavca %></td>
        <td><%= job.kategorija_oglasa %></td>
        <td><%= job.istek_oglasa %></td>
        <td><%= job.istekao %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
